<main>
  <div class="row container color02 firstrow">
    <section class="col-lg-07 col-md-12 animated01 fadein">
      <h1>About</h1>
      <p>Donec ac venenatis ipsum, et suscipit orci. Duis placerat rutrum elit, imperdiet ultrices tortor ultricies a. Nam condimentum nulla vitae lacus pharetra, commodo blandit dui laoreet.</p>
      <p>Nam facilisis semper tristique. In vitae mauris in tortor mollis sagittis. Quisque sed metus vitae nunc placerat pulvinar sed quis nulla. Ut commodo massa ut mi convallis, eget finibus tortor auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </section>
    <aside class="col-lg-05 col-md-12 animated01 fadein">
      <h2>About (aside)</h2>
      <p>Etiam ex turpis, mattis id sem quis, faucibus vehicula justo. Proin consequat arcu et nunc scelerisque condimentum. Phasellus vitae risus consectetur, pellentesque velit at, laoreet leo.</p>
      <p>Suspendisse ornare lacus ut purus vulputate aliquet. Vivamus sed posuere erat. Quisque at commodo est. Morbi interdum lectus magna, nec venenatis nisl euismod eu. In placerat tortor eu metus consequat mattis. Donec ut scelerisque sapien. Quisque mollis blandit purus, ut auctor elit vulputate ut.</p>
    </aside>
  </div>
</main>
