<main>
  <div class="row container color02 firstrow">
    <section class="col-lg-07 col-md-12 animated01 fadein">
      <h1>Contact</h1>
      <p>Curabitur vehicula nisl at lacus semper condimentum. Fusce vitae ultricies massa. Vivamus laoreet mi velit, at molestie libero egestas id. Suspendisse maximus lacus a odio imperdiet, vitae pretium orci aliquet. Proin lectus libero, tincidunt eu porttitor nec, iaculis a sem. Nam vitae lobortis risus. Nam porttitor in quam sed cursus. Maecenas mi neque, pulvinar at mollis id, posuere sit amet dui.</p>
      <p>Ut egestas, ipsum vel posuere tristique, lacus eros vulputate risus, quis rhoncus lectus enim non enim. Phasellus ultricies, sem eu tincidunt imperdiet, ex felis venenatis lorem, ut tincidunt dolor erat non orci.</p>
    </section>
    <aside class="col-lg-05 col-md-12 animated01 fadein">
      <h2>Contact (aside)</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et interdum arcu, id tincidunt orci. Maecenas sit amet tortor est. Aenean quis laoreet mi. Cras varius semper finibus.</p>
    </aside>
  </div>
</main>
