<main>
  <div class="row container color02 firstrow">
    <section class="col-lg-07 col-md-12 animated01 fadein">
      <h1>Home</h1>
      <p>In at arcu a sapien ornare vehicula at aliquet tortor. Fusce egestas tellus nisl, non finibus magna condimentum fermentum. Cras vestibulum fermentum sagittis. Nulla facilisi. Suspendisse congue, mauris vitae mattis bibendum, ipsum metus sollicitudin urna, tristique venenatis odio sapien id quam.</p>
      <figure>
        <img src="assets/medias/image01.jpg" alt="">
        <figcaption>Eva Blue (unsplash.com/@evablue). Pont Jacques-Cartier, Montréal, Canada.</figcaption>
      </figure>
    </section>
    <aside class="col-lg-05 col-md-12 animated01 fadein">
      <h2>Home (aside)</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et interdum arcu, id tincidunt orci. Maecenas sit amet tortor est. Aenean quis laoreet mi. Cras varius semper finibus.</p>
      <p>Ut egestas, ipsum vel posuere tristique, lacus eros vulputate risus, quis rhoncus lectus enim non enim. Phasellus ultricies, sem eu tincidunt imperdiet, ex felis venenatis lorem, ut tincidunt dolor erat non orci.</p>
    </aside>
  </div>
</main>
